In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iot_class_data_class_output_hostname_df.csv')

In [3]:
df = df.drop('device_id', axis=1)

In [4]:
df = df.drop_duplicates()

In [5]:
df.head()

          remote_hostname
0   googleusercontent.com
4              google.com
11            gstatic.com
13             nflxso.net
14            netflix.com

In [6]:
df.to_csv('domains.csv', index=False)

In [7]:
df.count()

remote_hostname    3561
dtype: int64

In [8]:
for i in range(0, 10):
    print(df.iloc[i]['remote_hostname'])

googleusercontent.com
google.com
gstatic.com
nflxso.net
netflix.com
scdn.co
spotify.com
nflxext.com
sentry-cdn.com
amazonaws.com

In [11]:
df.insert(len(df.columns), 'company', "")

In [12]:
df.head()

          remote_hostname company
0   googleusercontent.com
4              google.com
11            gstatic.com
13             nflxso.net
14            netflix.com